**/.git
**/.gitignore
**/.vscode
**/.idea
**/.github
**/.azure-pipelines

**/bin
**/obj

**/tests
**/docs
**/infra
tools
!tools/Identity.Api

**/*.md
**/*.env
**/*.user
**/*.suo
**/*.pfx
**/*.key

docker-compose.yml
Dockerfile
.dockerignore
LICENSE
*.slnx
qodana.yaml
