**/.git
**/.gitignore
**/.vscode
**/.azure-pipelines

**/bin
**/obj

**/tests
**/tools
**/docs
**/infra

**/*.md
**/*.env
**/*.user
**/*.suo
**/*.pfx
**/*.key

docker-compose.yml
Dockerfile
.dockerignore
LICENSE
*.sln
